<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This is the help page for the
  <a href="http://xiaoshoutai.com/">Xiaoshoutai weibo component</a> 
  by <a href="http://caiqinghua.com">CaiQinghua</a>.
</p>
