<footer class="footer">
  <small>
    <a href="http://caiqinghua.com/">Xiaoshoutai</a>
    by Caiqinghua
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.caiqinghua.com/">News</a></li>
    </ul>
  </nav>
</footer>